.tabs {
  .ant-tabs-nav {
    margin-bottom: 0 !important;
  }

  .ant-tabs-nav .ant-tabs-tab {
    padding: 4px 14px !important;
    background-color: var(--ant-color-bg-container);
    border-color: var(--admin-border-color-light);
  }

  .ant-tabs {
    width: 100%;
  }

  .more-button {
    width: 45px;
    height: 100%;
    box-sizing: border-box;
    border-left: 1px solid var(--admin-border-color-light);
    @include flex();

    .icon {
      font-size: 17px;
      color: rgba(0, 0, 0, 0.6);
      cursor: pointer;
    }
  }
}
