// nprogress样式
#nprogress .bar {
  background: var(--ant-color-primary) !important;
}

#nprogress .spinner-icon {
  border-top-color: var(--ant-color-primary) !important;
  border-left-color: var(--ant-color-primary) !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--ant-color-primary), 0 0 5px var(--ant-color-primary) !important;
}

.header-icon {
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s !important;
  color: var(--ant-color-text) !important;

  &:hover {
    color: var(--ant-color-primary) !important;
  }
}
