.ant-menu-root {
  flex: 1;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 20px;
    box-shadow: inset 0 0 0 white;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: var(--admin-menu-scrollbar-thumb-bg);
  }
}
